.reply-to-toggler {
  display: none;
}
.reply-to-show {
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transform: translateY(-100%);
  margin-bottom: -50em;
  transition: all 0.5s linear;
}

.reply-to-toggler[type="checkbox"]:checked + .reply-to-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  transition: all 0.5s linear;
  margin-bottom: 0em;
}
.reply-to-toggler[type="checkbox"]:checked + .reply-to-show + .reply-to-hide {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
